doctype
html
  head
    link(rel="stylesheet" href="/bower/material-design-lite/material.min.css")
    script(src="/bower/material-design-lite/material.min.js")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700")
    link(rel="stylesheet", href="public/bower/material-design-icons/sprites/css-sprite/sprite-action-white.css")
    
  body
    .mdl-layout__container
      .mdl-layout.mdl-js-layout.mdl-layout--overlay-drawer-button
        header.mdl-layout__header
          .mdl-layout-icon
          .mdl-layout__header-row
            span.mdl-layout-title Simple Layout
            .mdl-layout-spacer
            nav.mdl-navigation
              a.mdl-navigation__link(href="#") Nav Link 1
              a.mdl-navigation__link(href="#") Nav Link 2
              a.mdl-navigation__link(href="#") Nav Link 3
        .mdl-layout__drawer
          span.mdl-layout-title Simple Layout
          nav.mdl-navigation
            a.mdl-navigation__link(href="#") Nav Link 1
            a.mdl-navigation__link(href="#") Nav Link 2
            a.mdl-navigation__link(href="#") Nav Link 3
        main.mdl-layout__content
          != yield
